  <div class="post_info">
    <p>Post #<%=index+1%></p>
    <p><%=post.text[0...100]+"..."%>
    <p class="number_comments_likes">Comments:  <%=post.comments_counter%>, Likes: <%=post.likes_counter%> </p>
  </div>